NodeRedFlowPowerPredictor-ProConspiracy.json
[{"id":"19e9d10f.8de9ef","type":"tab","label":"autoai","disabled":false,"info":""},{"id":"2573cfd5.03a31","type":"http request","z":"19e9d10f.8de9ef","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":160,"wires":[["1ebabc45.22bef4"]]},{"id":"1ebabc45.22bef4","type":"function","z":"19e9d10f.8de9ef","name":"Pre Prediction","func":"var dateTime = global.get('DateTime')\nvar activePower = global.get('LVActivePower')\nvar windSpeed = global.get('WindSpeed')\nvar windDirection = global.get('WindDirection')\nvar token=msg.payload.access_token\nvar instance_id=\"f8fc5070-5073-43cb-b6b6-6d7a65e71788\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"dateTime\", \"activePower\", \"windSpeed\", \"windDirection\"], \"values\": [[dateTime,activePower,windSpeed,windDirection]]}]}\nreturn msg;\n","outputs":1,"noerr":0,"x":540,"y":300,"wires":[["7ffa9288.e7ff5c"]]},{"id":"7ffa9288.e7ff5c","type":"http request","z":"19e9d10f.8de9ef","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/fc889b8a-24f4-413f-8e87-4eb73579a848/predictions","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":240,"wires":[["7cb33833.0dde28"]]},{"id":"1a0cd0f7.7f902f","type":"ui_text","z":"19e9d10f.8de9ef","group":"3ae5f101.601e0e","order":8,"width":0,"height":0,"name":"","label":"Expected Power Output Prediction(KWh)","format":"{{msg.payload}}","layout":"col-center","x":820,"y":100,"wires":[]},{"id":"7cb33833.0dde28","type":"function","z":"19e9d10f.8de9ef","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":180,"wires":[["1a0cd0f7.7f902f","4ace7a2b.f731a4"]]},{"id":"a7fedb82.da0128","type":"ui_form","z":"19e9d10f.8de9ef","name":"","label":"","group":"3ae5f101.601e0e","order":6,"width":0,"height":0,"options":[{"label":"Date/Time","value":"DT","type":"text","required":true,"rows":null},{"label":"LV ActivePower","value":"AP","type":"number","required":true,"rows":null},{"label":"Wind Speed","value":"WS","type":"number","required":true,"rows":null},{"label":"Wind Direction","value":"WD","type":"number","required":true,"rows":null}],"formValue":{"DT":"","AP":"","WS":"","WD":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":210,"y":340,"wires":[["c1355235.3082c"]]},{"id":"c1355235.3082c","type":"function","z":"19e9d10f.8de9ef","name":"","func":"global.set(\"DateTime\",msg.payload.DT)\nglobal.set(\"LVActivePower\",msg.payload.AP)\nglobal.set(\"WindSpeed\",msg.payload.WS)\nglobal.set(\"WindDirection\",msg.payload.WD)\nvar apikey=\"qIK-3HWJY-v_HK1tGPvshgOEW2kY_Cjv1DXoHsFFfSdk\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":220,"wires":[["2573cfd5.03a31"]]},{"id":"4ace7a2b.f731a4","type":"debug","z":"19e9d10f.8de9ef","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":950,"y":220,"wires":[]},{"id":"3ae5f101.601e0e","type":"ui_group","z":"","name":"prediction","tab":"d2c161d4.202ec","order":1,"disp":false,"width":7,"collapse":false},{"id":"d2c161d4.202ec","type":"ui_tab","z":"","name":"Wind Farm Power Output Predictor","icon":"dashboard","disabled":false,"hidden":false}]